[submodule "swift-corelibs-foundation"]
	path = swift-corelibs-foundation
	url = https://github.com/GroundControl-Solutions/swift-corelibs-foundation.git
[submodule "icu"]
	path = icu
	url = https://github.com/microsoft/icu.git
